body
{
    /* background-image: url(img/regis1.jpg); */
    background-color: rgba(89, 159, 177, 0.466) !important;
    /* background-size: ; */
    /* background-repeat: no-repeat; */
}
#form
{
    min-height: 700px;
    background-color: rgba(8, 8, 8, 0.61) ;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    padding: 5px 40px 40px 40px;

}
.heading
{
    font-size: 45px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom-style: solid;
    color: white;
}
.text
{
    height: 43px;
}
.btn-primary
{
    border-radius: 0px;
    padding: 10px;
    width: 25%;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    font-size: 18px;
    color: white;
    letter-spacing: 3px;
    display: block;
    text-transform: uppercase !important;
    font-weight: 900;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    cursor: pointer;
}
label
{
    font-size: 18px;
    color: white;
}
.para1
{
    color:red;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    padding-left: 10px;
}
.para2
{
    color: cyan;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-left: 10px;
    text-transform: uppercase;
}
.terms
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
}


/* 
.pagewrap
{
    max-width: 100%;
    min-height: 100vh;
    position: relative;
    z-index: 1;
}
.content
{
    width: 600px;
    margin: 0 auto;
    padding: 10vh 0;
} */

h4
{
    color: wheat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.docs
{
    color: wheat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin-left: 35px;
    margin-bottom: 5px;
}
.btn-success
{
    width: 20% !important;
    height: 40px !important;
    color: white;
    background-color: green !important;
    padding-left: 2px;
    float: left;
    margin-left: 30px !important;
    
}
hr
{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 15px;
    
}